<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
<form action="riderData" method="post">	
	Nickname: <input type="text" name="nickname"/>
	Heart Rate: <input type="text" name="heart_rate"/>
	Speed: <input type="text" name="speed" />
	latitude: <input type="text" name="latitude"/>	
	longitude: <input type="text" name="longitude"/>	
	elevation: <input type="text" name="elevation"/>	
	distance: <input type="text" name="distance"/>
	cadence: <input type="text" name="cadence"/>
	power: <input type="text" name="power" />
	<input type="submit" value="submit"/>
</form>

</body>
</html>