<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Race Management System</title>
<!-- 
 <script language="JavaScript" type="text/javascript" src="javascript/jquery-2.1.1.min.js"></script>
 <link rel="stylesheet" href="css/themes/themeRoller.css" />
 <link rel="stylesheet" href="css/themes/jquery.mobile.icons.min.css" />
 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" /> 
 <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> 
 <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
  -->
 <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
	<div class="loginContent">
	<div>Race Management System</div>
	<div id="loginForm">		
		<form th:action="@{/configuration}" th:object="${coach}" method="post">
			<div>
				Username: <input type="text" th:field="*{username}"/>
			</div>
			<div>
				Password: <input type="password"  th:field="*{password}"/>
			</div>
			<div th:if="${#fields.hasAnyErrors()}" class="error">
				Invalid username and password.
			</div>
			<button id="reset" class="button">Reset</button><input type="submit" value="Login" class="button"/>
	</form>
	</div>
	</div>
</body>
</html>