.hiddenField{	
	display:none; 
}

.selectedRow{
	background-color: #EFDBDB;
}

.border{
	border: 5px solid;
	border-radius: 10px;
	border-color: #990000;				
}

th {
	background-color: #990000;
	padding: 5px;
	font-weight: normal;
	color: white;
}

.instruction{
	font-size: small;
}