.ui-header{
	font-size:16pt;

	}

.riderTable{
	display: table;
    width: 100%;    
    text-align: center;
    font-size: 12pt;
    color: black;
    background: white;
    
}

table td{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

#newRiderTab{
	padding: 10px;
}

#ridersDiv{
	width: 45%;
	float:left;	
}

.selectorDiv{
	float: left;
	padding-top: 10%;
	padding-left: 4%;
}

#raceConfig{
	float: right;
	padding-left: 20px;
	width: 45%;
}

.addEditDeletePanel{
	text-align: center;
}

.tableTitle{
	color: #802A2A;
	padding-left: 5px;
	font-size: 18pt;
}

.instruction{
	font-size: 10pt;
	padding-top: 12px;
	color: #660000;
	float: right;
}

.labelRaceName{
	color: #802A2A;
	font-weight: bold;
	font-size: 13pt;
}

h1{
	color: #330000;
}
