.ui-header{
	font-size:16pt;

	}

.riderTable{
	display: table;
    width: 100%;    
    text-align: center;
    font-size: 12pt;
    color: black;
    background: white;
    
}

table td{
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

#newRiderTab{
	padding: 10px;
}

#ridersDiv{
	width: 40%;
	float:left;	
}

.selectorDiv{
	float: left;
	padding-top: 10%;
	padding-left: 9%;
}

#raceConfig{
	float: right;
	padding-left: 20px;
	width: 40%;
}

.addEditDeletePanel{
	
}

.addEditDeletBtns{
	height: 40px;
}