@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family:"Cambria", Times, serif;
	font-size: 12pt;
    width:auto;    
	color: black;
        background: linear-gradient(black,#626365);
       
}

.ui-page{
    min-width: 100% !important;
}
.ui-content, .ui-page{
	
	height: 100%;
	font-family:"Cambria", Times, serif;
	font-size: 14pt;
	color: black;
        background: linear-gradient(black,#626365);
        color: white;
        overflow: scroll;
    
}


#map-page,#map-canvas {
	width: 80%;
	height: 300px;
	padding: 0;
	border: 8px solid;
    border-radius: 25px;
    border-color: orange;
    font-size: 12pt;
}

#raceDetails{
	position: relative;
	top:20px;
border: 8px solid orange;
    border-radius: 15px;
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width:340px;
    font-family: monospace;

.weather {
	position: relative;
	top:30px;
border: 8px solid orange;
    border-radius: 15px;
	float: left;
	width: 350px;
}

.header {
	width: 100%;
	text-align: right;
	font:"verdana";
	font-size: 24pt;
	font-style: italic;
}

.msgAndNotes {
	display: inline-block;
}

#raceDetails {
	font-weight: bold;
}

.endRaceContainer {
	float: left;
	display: inline;
}

table{
	display: table;
    width: 100%;
    border-width: thick;
    border: 8px solid;
    border-radius: 25px;
    border-color: orange;
    text-align: center;
    font-size: 12pt;
    color: black;
    background: white;
    
}

th{
	background-color: khaki;
	border: 1px solid black;
	padding: 5px;

}

table td{
border:1px solid black;
width: 10pt;
padding-top: 2px;
padding-bottom: 2px;
}

.statisticTable {
	position: relative;
	left:30px;
	top:-50px;
	float: left;
	display: inline;
}

.endAndNotes {
	position: relative;
	left:20px;
	top:-50px;
	padding-left: 40px;
	display: inline;
	float: left;
}

.labels {
	color: white;
	background-color: red;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 16px;
	text-align: center;
	width: 20px;
	white-space: nowrap;
}

.msgTemplate{
	margin: 5px;
}

.newMessage{
	color: red;
}


#notesTxt{
	height:120px
}
.ui-input-text
{
	height:90px;
}

#li1, #li2{
	font-size: 16pt;
font-family: -webkit-pictograph;
font-style: italic;
}

#left, #right, #breakAway, #timeGap, #safety, #sendMsg, #msgClearBtn, #saveNote, #notesClearBtn
{
	color: black;
font-style: italic;
font-family: -webkit-pictograph;
}

#sendMsg, #msgClearBtn, #saveNote, #notesClearBtn
{
	width: 180px;
position: relative;
left: 25%;

}

.autocenter{
	margin-left: 30px;
}