@CHARSET "ISO-8859-1";

#map-page,#map-canvas {
	width: 100%;
	height: 300px;
	padding: 0;
}

.weather {
	float: left;
	width: 350px;
}

.header {
	text-align: center;
}

.msgAndNotes {
	display: inline-block;
}

#raceDetails {
	font-weight: bold;
}

.endRaceContainer {
	float: left;
	display: inline;
}

.statisticTable {
	float: left;
	display: inline;
}

.endAndNotes {
	padding-left: 40px;
	display: inline;
	float: left;
}

.labels {
	color: white;
	background-color: red;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 16px;
	text-align: center;
	width: 20px;
	white-space: nowrap;
}

.msgTemplate{
	margin: 5px;
}

.newMessage{
	color: red;
}