@CHARSET "ISO-8859-1";

html,body,#map-canvas {
	height: 80%;
	margin: 0px;
	padding: 0px;	
	font-size: 12pt;
}

.titleHeader{
	font-size: 30pt;
}

.weatherAndRiders{
	top: 400px;	
}

.weather{
	float: left;
	height: 400px;
	width: 400px;
}

.riders{	
	float: right;
}

.messageLbl{
	vertical-align: top;
}

.sendBtn{
	width: 60px;
	height: 60px;	
	margin-right: 10px;
	margin-top: 12px;
	vertical-align: top;
}

.header{
	text-align: center;
}

.msgAndNotes{
	display: inline-block;	
}

#raceDetails{	
	font-weight: bold;
}