@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	
	width: auto;
	color: #403f42;
}

a {
	text-decoration: none
}

.mainDashboard {
	width: 80%;
	float: left;
}

.msgAndNotes {
	width: 20%;
	float: left;
}

.ui-page {
	min-width: 100% !important;
}

.ui-content,.ui-page {
	height: 100%;
}

#map-page,#map-canvas {
	width: 98%;
	height: 300px;
	padding: 0;	
	font-size: 12pt;
	position: relative;
	top: -10px;
}

#raceDetails {
	position: relative;
	font-size: 12pt;
	padding-top: 10px;
	padding-bottom: 10px;	
}
.weatherAndLogo{
	float: left;
	margin-right: 10px;
}

.weather {
	position: relative;	
}

.msgAndNotes {
	display: inline-block;
}

.endRaceContainer {
	float: left;
	display: inline;
}

.weatherStatLogo{
	display: inline;
}


table {

}

table td {
	width: auto;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
}

.message{
	width: 200px;
}

.statisticTable {	
	float: right;
	margin-right: 10px;	
	display: table;	
	text-align: center;
	font-size: 12pt;
	color: black;
	background: white;
}

.endAndNotes {
	position: relative;
	left: 20px;
	top: -50px;
	padding-left: 40px;
	display: inline;
	float: left;
}

.labels {
	color: white;
	background-color: red;
	font-size: 16px;
	text-align: center;
	width: 20px;
	white-space: nowrap;
}

.panelButton{
	font-size: 11pt;
	padding: 5px;
}



.msgTemplate {
	width: auto;	
}

.newMessage {
	color: red;
}

#notesTxt {
	height: 120px;
}

.ui-input-text {
	height: 90px;
}

.msgTemplateGroup {
	width: 100%
}

.msgTemplate {
	
}

.sendReset {
	margin-top: 5px;
	text-align: center;
}

.logo {
	height: 30px;
	width: 40px;
}

.footer {
	height: 30px;
}

.loginGrp{
	width: 100%;
}

.configLogsGrp{
	width: 100%;
}

.user{
	padding-right: 42px;	
}

.logs{	
	padding-right: 30px;
}

.startEnd{
	width: 160px;
}