@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;	
	font-size: 12pt;
    width:auto;    
	color: black;
}

.ui-page{
    min-width: 100% !important;
}
.ui-content, .ui-page{	
	height: 100%;
	font-size: 14pt;
	color: black;
        color: white;
        overflow: scroll;
    
}


#map-page,#map-canvas {
	width: 76%;
	height: 300px;
	padding: 0;
	border: 5px solid;
    border-radius: 10px;
    border-color: #990000;
    font-size: 12pt;
    position: relative;
    top: -10px;
}

#raceDetails{
	position: relative;
	top: 5px;
	border: 5px solid #990000;
    border-radius: 10px;
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;    
}
	
.weather {
	position: relative;
	top: 15px;
	border: 5px solid #990000;
    border-radius: 10px;	
	float: left;
	width: 350px;
}

.msgAndNotes {
	display: inline-block;
}


.endRaceContainer {
	float: left;
	display: inline;
}

table{
	display: table;
    width: 100%;
    border-width: medium;
    border: 5px solid;
    border-radius: 10px;
    border-color: #990000;
    text-align: center;
    font-size: 12pt;
    color: black;
    background: white;
    
}

th{
	background-color: #990000;
	color:#d8d8d8;
	border: 1px solid black;
	padding: 5px;

}

table td{
width: auto;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 3px;
padding-right: 3px;
}

.statisticTable {
	width: 580px;
	position: relative;
top: 10px;
left: 35px;
	float: left;
	display: inline;
	max-width: 580px;
}

.endAndNotes {
	position: relative;
	left:20px;
	top:-50px;
	padding-left: 40px;
	display: inline;
	float: left;
}

.labels {
	color: white;
	background-color: red;	
	font-size: 16px;
	text-align: center;
	width: 20px;
	white-space: nowrap;
}

.msgTemplate{
	margin: 5px;
}

.newMessage{
	color: red;
}

#notesTxt{
	height:120px;
}
.ui-input-text
{
	height:90px;
}

#li1, #li2{
font-size: 12pt;
font-family: -webkit-pictograph;
font-style: italic;
}

.msgTemplate
{
color: black;
font-family: -webkit-pictograph;
}

.logo{
	
	height: 30px;
	width: 40px;
}
.footer{
	height:30px;
}

