@CHARSET "ISO-8859-1";

#map-page, #map-canvas { width: 100%; height: 100%; padding: 0; }


.weather {
	float: left;	
	width: 350px;
}

.header {
	text-align: center;
}

.msgAndNotes {
	display: inline-block;
}

#raceDetails {
	font-weight: bold;
}