
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1"></meta>
<title>No race is in session</title>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.external-png-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.icons-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.inline-png-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.inline-svg-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.structure-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.theme-1.4.2.min.css"></link>
<link rel="stylesheet" type="text/css"
	href="../css/themes/themeRoller.min.css"></link>

<script type="text/javascript" src="../javascript/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
	$(document).bind("mobileinit", function() {
		$.mobile.ajaxEnabled = false;
	});
</script>
<script type="text/javascript"
	src="../javascript/jquery.mobile-1.4.2.min.js"></script>


</head>
<body>
	<div data-role="header" data-theme="a">
		<h1>There is no on going race.</h1>
		<a th:href="@{/j_spring_security_logout}" data-icon="power"
			class="ui-btn-right">Logout</a>
	</div>
	
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/admin/configuration}"><button
				class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-gear">Configure
				Race</button></a>
	</div>

</body>
</html>