				<div class="statisticTable" th:fragment="statTable">
				<table id="statTable">
					<thead>
						<tr>					
							<th>Jersey</th>
							<th>Rider</th>
							<th>Speed</th>
							<th>Cadence</th>
							<th>Power</th>
							<th>Heart Rate</th>							
							<th>Message</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="stat: ${statistics}" class="riderRow">									
							<td th:if="${stat} != null" >
							<span th:text="${stat?.rider.jersey_no}" class="jersey"></span>
							<span  class="rider_id hiddenField" th:text="${stat?.rider.rider_id}"></span>
							</td>
							<td th:if="${stat} != null" th:text="${stat?.rider.nickname}" class="name">Prince Harry</td>
							<td th:if="${stat} != null" th:text="${stat?.speed}" class="speed">50</td>
							<td th:if="${stat} != null" th:text="${stat?.cadence}" class="cadence">50</td>
							<td th:if="${stat} != null" th:text="${stat?.power}" class="power">50</td>
							<td th:if="${stat} != null" th:text="${stat?.heart_rate}" class="heartRate">50</td>
							<td th:if="${stat} != null" th:text="${stat?.latitude}" class="latitude hiddenField">50</td>
							<td th:if="${stat} != null" th:text="${stat?.longitude}" class="longitude hiddenField">50</td>							
							<td class="message"><span class="msgTxt"></span><span class="msgId hiddenField"></span></td>								
						</tr>						
					</tbody>
				</table>
			</div>