<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Configuration</title>

<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.external-png-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.icons-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.inline-png-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.inline-svg-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.structure-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/jquery.mobile.theme-1.4.2.min.css" />
<link rel="stylesheet" type="text/css"
	href="../css/themes/themeRoller.min.css" />
<script language="JavaScript" type="text/javascript"
	src="../javascript/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
	$(document).bind("mobileinit", function() {
		$.mobile.ajaxEnabled = false;
	});
</script>
<script type="text/javascript" language="javascript"
	th:src="@{/javascript/configuration.js}"></script>
<script language="JavaScript" type="text/javascript"
	src="../javascript/jquery.mobile-1.4.2.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/configuration.css}" />

</head>
<body>
	<div data-role="page">
		
		<div data-role="header" data-theme="b">
			<h1>Race Configuration</h1>			
			<a th:href="@{/j_spring_security_logout}" data-icon="power" class="ui-btn-right">Logout</a>		
		</div>
		<div data-role="content" class="ui-content">
		<div id="ridersDiv">
			<span>Riders</span>	
			<span class="instruction">Double click on row to edit.</span>		
			<form id="deleteRiderForm" th:unless="${#lists.isEmpty(riders)}">
				<table class="riderTable border" id="riderOptions">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Nickname</th>
							<th>Mobile Number</th>
							<th>Jersey Number</th>					
						</tr>
					</thead>
					<tbody>
						<tr th:each="rider: ${riders}" class="riderRow riderOption">
							<td th:text="${rider.first_Name}" class="riderFirstName"></td>
							<td th:text="${rider.last_name}" class="riderLastName"></td>
							<td th:text="${rider.nickname}" class="riderNickname"></td>
							<td th:text="${rider.phone}" class="riderPhone"></td>
							<td th:text="${rider.jersey_no}" class="riderJersey"></td>
							<td class="hiddenField"><span class="rider_id"
								th:text="${rider.rider_id}"></span></td>
						</tr>
					</tbody>
				</table>
			</form>
			
			<div class="ui-grid-a">
				<button id="deleteRiders" class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-delete ui-block-b addEditDeletBtns">Delete</button>				
				<a href="#newRiderDiv" id="addEditRider" data-rel="popup" data-position-to="window" data-transition="pop"><button class="ui-btn ui-corner-all ui-shadow ui-btn-icon-left ui-icon-check  ui-block-a addEditDeletBtns">Add</button></a>								
			</div>
			
		</div>
		<div class="selectorDiv">
			<button id="deselectRider" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-l ui-btn-icon-notext">Left</button>
			<button id="selectRider" class="ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext">Right</button>
		</div>
		<div id="raceConfig">
			<span>Team</span>						
			<table class="riderTable border teamTable">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Nickname</th>
							<th>Mobile Number</th>
							<th>Jersey Number</th>					
						</tr>
					</thead>
					<tbody>
						<tr th:each="rider: ${latestTeam}" class="riderRow raceTeam">
							<td th:text="${rider.first_Name}" class="riderFirstName"></td>
							<td th:text="${rider.last_name}" class="riderLastName"></td>
							<td th:text="${rider.nickname}" class="riderNickname"></td>
							<td th:text="${rider.phone}" class="riderPhone"></td>
							<td th:text="${rider.jersey_no}" class="riderJersey"></td>
							<td class="hiddenField"><span class="rider_id"
								th:text="${rider.rider_id}"></span></td>
						</tr>
					</tbody>
				</table>
			<div class="ui-field-contain">
			    <label for="raceName">Race Name:</label>
    			<input type="text" name="raceName" id="raceName" value=""/>
			</div>
			<button id="createRace">Create Race</button>	
		</div>
			
		<div id="newRiderDiv" data-role="popup" data-theme="a" class="ui-corner-all">
			<h2>Add New Rider</h2>
			<form th:action="@{/addRider}" th:object="${rider}" method="post"
				id="newRiderForm">
				<table id="NewRiderTable">
					<tr>
						<td class="newRiderTab">First Name</td>
						<td class="newRiderTab"><input type="text" th:field="*{first_Name}"
							id="firstNameInput" /></td>
					</tr>
					<tr>
						<td class="newRiderTab">Last Name</td>
						<td class="newRiderTab"><input type="text" th:field="*{last_name}"
							id="lastNameInput" /></td>
					</tr>
					<tr>
						<td class="newRiderTab">Nickname</td>
						<td class="newRiderTab"><input type="text" th:field="*{nickname}"
							id="nicknameInput" /></td>
					</tr>
					<tr>
						<td class="newRiderTab">Mobile Number</td>
						<td class="newRiderTab"><input type="text" th:field="*{phone}" id="phoneInput" /></td>
					</tr>
					<tr>
						<td class="newRiderTab">Jersey Number</td>
						<td class="newRiderTab"><input type="text" th:field="*{jersey_no}"
							id="jerseyNoInput" /></td>
					</tr>
					<tr>			
						<td><button type="button" id="reset" class="addEditFormBtn">Reset</button></td>			
						<td class="newRiderTab"><button type="button" id="addRider" class="addEditFormBtn">Add/Edit</button></td>
					</tr>
				</table>
				<div class="hiddenField">
					<input type="text" th:field="*{rider_id}" id="riderIdInput" />
				</div>
			</form>
		</div>

		<a href="#raceCreated" data-rel="popup"
			class="ui-btn ui-corner-all ui-shadow ui-btn-inline hiddenField"
			data-transition="pop" id="raceCreatedBtn">Race created btn</a>
		<div data-role="popup" data-dismissible="false" id="raceCreated"
			class="ui-content">
			<div id="raceCreated">
				Race <span id="raceCreatedName"></span> created with the following
				riders:
				<ul id="raceCreatedRiders">

				</ul>
				<a href="../shared/dashboard"><button id="dashboard">Go
						to dashboard</button></a>
			</div>
		</div>

		<a href="#errorPopup" data-rel="popup"
			class="ui-btn ui-corner-all ui-shadow ui-btn-inline hiddenField"
			data-transition="pop" id="errorButton">Basic Popup</a>
		<div data-role="popup" id="errorPopup" class="ui-content">
			<a href="#" data-rel="back"
				class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
			<div class="errorPopup"></div>
		</div>
		</div>
	</div>
</body>
</html>